@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  background-color: #0f172a; /* near-black */
  color: #e5e7eb;            /* light gray text */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  transition: background 0.2s ease, color 0.2s ease;
}

h1, h2, h3 {
  color: #f3f4f6;
}


* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

